.auth-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: var(--card-dark);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: none;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--green);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.signup-text {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-text a {
  color: var(--green);
  text-decoration: none;
}

.tagline {
  font-size: 0.9rem;
  color: var(--text-muted);
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  margin-bottom: 1rem;
  background-color: #0f172a;
  border-radius: 6px;
  padding: 0 10px;
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-light);
  width: 100%;
  font-size: 0.95rem;
  flex: 1;
  padding: 10px 0;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--text-muted);
  flex-shrink: 0;
  margin-right: 8px;
}

.eye-icon {
  width: 18px;
  height: 18px;
  color: var(--text-muted);
  cursor: pointer;
  transition: color 0.2s ease;
}

.eye-icon:hover {
  color: var(--green);
}


